p {
    font-family: sans;
    color:blue;
}

h1 {
    background-color: rgba(31,69, 35, 586);
}

h2{
    background-color: chartreuse;
}

.div-prueba{
    font-family: 'Courier New', Courier, monospace;
    color:brown

}
#parrafo1{
    background-color: aqua;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.parrafo-amarillo{
    background-color: yellow;
    text-align: center;
}